.stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 54px;
    color: #1E1E1E;
}
.stopwatch__header{
    text-align: center;
}
.stopwatch__header-title{
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    padding-bottom: 14px;
}
.stopwatch__header-text{
    font-size: 18px;
    color: #828282;
    padding-bottom: 11px;
}
.buttons{
    display: flex;    
    padding-top: 31px;
    padding-bottom: 33px;
}
.buttons__stop{
    width: 48px;
    height: 48px;
    background-color: #EB5757;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 22px;
}
.buttons__pause{
    width: 48px;
    height: 48px;
    background-color: #3744BD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons__pause img:first-child{
    margin-right: 5px;
}